%h1 Style Guide

%p Headline Text
%p B-Head (Or Sub-Head) Text
%p Nav Item 1 | Nav Item 2 | Nav Item 3
%p Byline Text on July 5th, 1987
%p
  This is body copy. Lorem ipsum dolor sit amet, consectetur
  adipisicing elit, sed do eiusmod tempor incididunt
  ut labore et dolore magna aliqua. Ut enim ad
  minim veniam, quis nostrud exercitation ullamco
  laboris nisi ut aliquip ex ea commodo consequat.
