%section#backlog
  %header
    %h2
      Backlog
      %span#new_userstory
        = link_to 'New userstory', new_project_userstory_path(@project), id: 'new_userstory_link', remote: true, class: 'btn'

  %table
    %thead
      %tr
        %td
        %td.category Category
        %td.description Description
        %td.priority Priority
        %td.velocity Velocity
        %td.status Status
        %td.name No.
    %tbody
      = render :partial => 'backlog_userstory', :collection => @backlog, :as => :userstory
