%section#backlog
  %header
    %h2 Backlog
  %table
    %thead
      %tr
        %td
        %td.category Category
        %td.description Description
        %td.priority Priority
        %td.velocity Velocity
        %td.status Status
        %td.name No.
    %tbody
      = render :partial => 'backlog_userstory', :collection => @backlog, :as => :userstory
