%section#current_sprint
  %header
    %h2 Current sprint
  %section.incomplete
    %header
      %h3 Incomplete
    %table
      %thead
        %tr
          %td.category Category
          %td.description Description
          %td.priority Priority
          %td.velocity Velocity
          %td.status Status
          %td.name No.
          %td
      %tbody
        = render :partial => 'sprint_userstory', :collection => @unaccepted_userstories, :as => :userstory
  %section.complete
    %header
      %h3 Complete
    %table
      %thead
        %tr
          %td.category Category
          %td.description Description
          %td.priority Priority
          %td.velocity Velocity
          %td.status Status
          %td.name No.
          %td
      %tbody
        = render :partial => 'sprint_userstory', :collection => @accepted_userstories, :as => :userstory
