%section#accepted
  %header
    %h2 Done
  %table
    %thead
      %tr
        %td Category
        %td Description
        %td Priority
        %td Velocity
        %td Status
        %td No.
    %tbody
      = render @done
