%section#accepted
  %header
    %h2 Done
  %table
    %thead
      %tr
        %td.category Category
        %td.description Description
        %td.priority Priority
        %td.velocity Velocity
        %td.status Status
        %td.name No.
    %tbody
      = render @done
