replaceStatusSection('<%= j render 'status' %>');
$('section#backlog').replaceWith('<%= j render "backlog" %>');
$('section#current_sprint').replaceWith('<%= j render "current_sprint" %>');
<% if @project.current_sprint_complete? %>
  $('#complete_sprint').replaceWith('<span id="complete_sprint"><%= j complete_sprint_link(@project.sprints.first) %></span>');
<% else %>
  $('#complete_sprint span').remove();
<% end %>
