%section#userstories
  %section#recent
    %header
      %h2 Recently updated Userstories
    %ul
      = render partial: 'current_userstory', collection: @recent

  %hr

  %section#current
    %header
      %h2 Current Userstories
    %ul
      = render partial: 'current_userstory', collection: @current_userstories
