%h1 Welcome to gemoria

%section.release
  %header
    %h2 Release Version: 0.0.3
  %section.content
    %section.features
      %header
        %h3 Features
      %ul
        %li adds Dashboard

%section.release
  %header
    %h2 Release Version: 0.0.2
  %section.content
    %section.features
      %header
        %h3 Features
      %ul
        %li adds Ownerships

%section.release
  %header
    %h2 Release Version: 0.0.1
  %section.content
    %section.features
      %header
        %h3 Features
      %ul
        %li adds Authentication
    / %section.bugfixes
    /   %header
    /     %h3 Bugfixes
    / %section.refactorings
    /   %header
    /     %h3 Refactorings
