%h1.releases Welcome to gemoria 0.0.15

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.15
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.2.3

= link_to 'See all releases', releases_path
