// Place all the styles related to the userstories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userstories
  form
    input#userstory_name
      width: 50px

#current ul, #recent ul
  list-style-type: none
  li
    background-color: lightgreen
    border-top: 1px solid black 
    border-right: 1px solid black
    margin: 10px 0 10px 0
    padding: 10px 0px 0px 10px
    height: 50px
    .project, .show_tasks
      display: inline
      float: right
      padding-right: 10px

#current_sprint
  border: 1px black solid
  padding: 10px

#backlog
  border: 1px black solid
  background-color: #62da97
  float: left
  padding: 10px

tr.opened
  background-color: white

tr.started
  background-color: #FFFD44

tr.completed
  background-color: #4B6195

tr.rejected
  background-color: #DD6164

tr.accepted
  background-color: #A9D05C

section#status
  &.opened
    background-color: white
  &.started
    background-color: #DFD462
  &.completed
    background-color: #6B4A97
  &.rejected
    background-color: #DF6262
  &.accepted
    background-color: #4FB34F

section#acceptance_tests
  ul
    list-style-type: none
