%h1 Releases

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.16
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.2.4

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.15
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.2.3

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.14
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.2.2

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.13
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.2.1

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.12
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.2.0

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.11
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.1.15

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.10
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.1.14

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.9
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.1.13

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.8
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.1.12

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.7
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.1.11

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.6
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.1.10

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.5
  %section.features
    %header
      %h3 Features
    %ul
      %li runs with Rails 4.1.9
  %section.refactorings
    %header
      %h3 Refactorings
    %ul
      %li uses Selenium instead of Poltergeist to avoid inconsitency in test runs


%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.4
  %section.features
    %header
      %h3 Features
    %ul
      %li adds User-Level-Menue
      %li adds Top-Level-Menue
      %li adds Context-Level-Menue
      %li adds Breadcrumbs-Menue

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.3
  %section.features
    %header
      %h3 Features
    %ul
      %li adds Dashboard

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.2
  %section.features
    %header
      %h3 Features
    %ul
      %li adds Ownerships

%section.release
  %header
    %h2
      Release Version:
      %span.version 0.0.1
  %section.features
    %header
      %h3 Features
    %ul
      %li adds Authentication
  / %section.bugfixes
  /   %header
  /     %h3 Bugfixes
  / %section.refactorings
  /   %header
  /     %h3 Refactorings

