%section#acceptance_tests
  %section.actions
    %a#new_acceptance_test_link
  %section.incomplete
    #acceptance_test_1.acceptance_test.incomplete

%section#tasks
  %section.actions
    %a#new_task_link

%section#status.opened
  %a
  %hr
  opened
