= link_to "Gemoria", root_path, class: 'nav-item'
= link_to "Projects", projects_path, class: 'nav-item'
-#= link_to "Userstories", userstories_path, class: 'nav-item'
-#= link_to "Tasks", tasks_path, class: 'nav-item'
